{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'weather/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Weather App</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" id="city" name="city" placeholder="Enter city name" required>
            <button type="submit">Get Weather</button>
        </form>
        {% if weather_data %}
            <h2>Weather in {{ weather_data.name }}, {{ weather_data.sys.country }}</h2>
            <div class="weather-icon weather-icon{{ weather_data.weather.0.icon }}"></div>
            <p>Temperature: {{ weather_data.main.temp }}°C</p>
            <p>Weather: {{ weather_data.weather.0.main }}</p>
        {% endif %}
    </div>
</body>
</html>
